body {
color: #000;
font-family: Helvetica, Arial, sans-serif;
}
#surface {
position: absolute;
left: 180px;
top: 160px;
font-size: 24px;
}
#surface img {
margin-right: 10px;
vertical-align: middle;
}
#name {
font-weight: bold;
}