html{
	height:300px;
}
body{
  font-family: 'Roboto Condensed', 'Helvetica','WenQuanYi Micro Hei', 'Microsoft YaHei','Arial', sans-serif;
  color: #666666;
  overflow-x: hidden;
  width:400px;
}

#butter {
  color: #fff;
  background-color: #000033;
  padding: 5px 10px;
  border-radius: 15px;
  width: auto;
  text-align: center;
  float: right;
}
#butter1 {
  color: #fff;
  background-color: #000033;
  padding: 5px 10px;
  border-radius: 15px;
  width: auto;
  text-align: center;
  float: right;
}
#butter.error {
  background-color: red;
}

.word{
height:250px;
width:350px;
border-radius: 5px;
box-shadow: 1px 1px 4px #666;
overflow:hidden;
/*background:url(../img/icons/default/16/bg.png);*/
}

.containt{
margin-top:180px;
height:250px;
width:350px;
transition:margin-top 1s;
}

.show{
margin-top: 0px;
}

.containt .head{
background: #7BBC48;
height: 50px;
line-height:50px;
padding-left:25px;
font-size: 200%;
}

.word .head{
height: 60px;
box-shadow: 0 0 5px rgba(88,87,86,0.9);
}
.containt .mean{
background:honeydew;
height:190px;
border-radius: 0px 0px 5px 5px;
overflow:auto;
}

.mean{
padding-left:25px;
padding-top:10px;
}

.see{
float:right;
margin-right: 25px;
margin-top: 10px;
}
.see img, .remmeber img{
width:40px;
height:40px;
}

.remmeber{
float:right;
margin-right: 25px;
margin-top: 10px;
}

.pron img{
display:inline;
margin: 0px 5px;
}
.pron {
font-size: smaller;
}
.vaa_example{
margin-left: -20px;
margin-bottom:10px;
list-style-type: circle;
}
.vaa_example li{
margin-bottom:10px;
}
.wordmean{
padding-top:6px;
}
.wordmean strong{
padding-right:10px; 
color:#8bc34a;
}

.nowordcontainer{
text-align: center;
margin-left: -40px;
margin-top: 110px;

}
